<a href="https://colab.research.google.com/github/alinelima1909/Atividade-notas-dos-alunos_desafio1_python-colab/blob/main/Aluraphytoncoleta_e_amostragemdedados10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programa que imprima seu nome e diga Olá

In [ ]:
nome= input('Digite seu nome')
print(f'Olá. {nome}.')

Digite seu nome     Aline
Olá.      Aline.

In [ ]:
nome= input('Digite seu nome')
idade= int(input('Diigite sua idade: '))
print(f'Olá {nome}, voce tem {idade} anos')

Digite seu nome  Aline
Diigite sua idade:   48
Olá   Aline, voce tem 48 anos

In [6]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
altura = float(input('Digite sua altura: '))
print(f'Olá {nome}, você tem {idade} anos e mede {altura} metros!')

Digite seu nome:  Aline
Digite sua idade:  48
Digite sua altura:  1.67
Olá  Aline, você tem 48 anos e mede 1.67 metros!

Calculadora com Operadoras

In [7]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a+b)

Digite o primeiro valor:  48
Digite o segundo valor:   20
68

In [8]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
c = int(input('Digite o terceiro valor: '))
print(a+b+c)

Digite o primeiro valor:  48
Digite o segundo valor: 20
Digite o terceiro valor:  10
78

In [9]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a-b)

Digite o primeiro valor:  48
Digite o segundo valor:  20
28

In [10]:
a= int(input('Digite o primeiro valor: '))
b= int(input('Digite o segundo valor: '))
print (a*b)

Digite o primeiro valor:  48
Digite o segundo valor:  20
960

divisão fração numero inteiro

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador/denominador)

Potencia

In [ ]:
operador = int(input('Digite o operador valor: '))
potencia = int(input('Digite a potência valor: '))
print(operador**potencia)

In [ ]:
operador = int(input('Digite o numerador'))
denominador = int(input('Digite o denominador( OBS: o valor não pode ser nulo)'))
print(operador//denominador)

porcentagem: numerador%denominador

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador%denominador)

Coletar três notas

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))
nota_3 = float(input('Digite a 3° nota: '))
print(f'Média {(nota_1+nota_2+nota_3)/3}.')

In [ ]:
Média Pomderada

In [ ]:
media_poderada = 5*1 + 12*2 + 20*3 + 15*4 /(1+2+3+4)
print(f' Media{media_ponderada}.')

Parte 2 da função input, int, float

In [ ]:
nome = input( digite seu nome: )
idade = int(input( digite sua idade: ))
altura = float(input(digite sua altura: ))
print( f' Olá {nome}, voce tem {idade} anos e mede{altura} em metros!')