<a href="https://colab.research.google.com/github/alinelima1909/Atividade-notas-dos-alunos_desafio1_python-colab/blob/main/python_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cabeçalho de nivel 1

**Texto em negrito**

**Texto em negrito**

***Texto em negrito e em Italico***

* 1
* 2
* 3

1. item 1
2. item 2
3. Item 3

[Site da Alura] (https:// www.alura.com.br/)

In [ ]:
Idade = 5

In [ ]:
print(Idade)

5

In [ ]:
Idade = 10
print(Idade)

10

In [ ]:
Idade = 15
Idade

15

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

Tipo de Variavéis

USO da FUNÇÃO type()

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'Aline'
type(s)

str

In [ ]:
b = True
type(b)

bool

Precisamos criar variáveis que armazenem os dados da ficha desse aluno. São eles:

Nome: Fabricio Daniel
Idade: 15 anos
Media do semestre: 8,45
Situaçao de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.5
situação_aprovado = True
print( nome_aluno, idade_aluno, media_aluno, situação_aprovado)

Fabricio Daniel 15 8.5 True

Segurança	5	3000
Docente	16	6000
Diretoria	1	12500
Cinco pessoas trabalham como seguranças e recebem um salário de 3 mil reais. Dezesseis pessoas trabalham como docentes e recebem um salário de 6 mil reais. Por fim, temos uma pessoa que trabalha na diretoria e seu salário é de 12 mil e 500 reais.

In [ ]:
q_segurança = 5
s_segurança = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_de_empregados = q_segurança + q_docente + q_diretoria
total_de_empregados

22

In [ ]:
diferença_de_salario = s_segurança - s_diretoria
diferença_de_salario

-9500

In [ ]:
media = (q_segurança*s_segurança + q_docente*s_docente + q_diretoria*s_diretoria) / (total_de_empregados)
media

5613.636363636364

Estruturas Condicionais

IF e ELSE

If condição:
 #faça algo

In [2]:
if 2>7:
  print('condição verdadeira')
  print()
  print('fora do bloco')

 fora do bloco

# Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:
---

if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

In [4]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria > idade_beatriz:
  print('Maria é mais velha que Beatriz.')

Digite a idade da Maria:  12
Digite a idade da Beatriz:  10
Maria é mais velha que Beatriz.

In [5]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria < idade_beatriz:
  print('Maria é mais nova que Beatriz.')

Digite a idade da Maria:  30
Digite a idade da Beatriz:   34
Maria é mais nova que Beatriz.

In [6]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 >= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1:   300
Digite a quantidade de empregados da empresa 2:  150
Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.

In [7]:
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 <= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1:   200
Digite a quantidade de empregados da empresa 2:     200
Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.

In [9]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 == livro_2:
  print('Os livros têm o mesmo título')

Digite o título do 1° livro:  Verso e Código: A poética da programação
Digite o título do 2° livro:  Verso e Código: A poética da programação
Os livros têm o mesmo título

In [10]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 != livro_2:
  print('Os livros têm títulos diferentes')

Digite o título do 1° livro:  livro_1 = input('Digite o título do 1° livro: ') livro_2 = input('Digite o título do 2° livro: ')  if livro_1 != livro_2:   print('Os livros têm títulos diferentes')
Digite o título do 2° livro:  Programar com versos: A poesia do código
Os livros têm títulos diferentes